.jumbotron {
    padding: 2rem 1rem;
    background-color: #fae467;
}

.display-4 {
    font-size: 36px;
}

svg {
    position: relative;
    top: px;
}

.lead {
    font-size: 16px;
}

li {
    list-style-type: none;
}

.picture {
    display: flex;
    padding: 2rem;
}

.picture2 {
    display: flex;
    padding-right: 2rem;
}

.ini4 {
    position: relative;
    left: 31px;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

