.jumbotron {
    padding: 2rem 1rem;
    background-color: #fae467;
}

.display-4 {
    font-size: 36px;
}

svg {
    position: relative;
    top: px;
}

.lead {
    font-size: 16px;
}

li {
    list-style-type: none;
}

.picture, .picture2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.ini4 {
    position: relative;
    left: 27px;
}

.ini5 {
    position: relative;
    left: -54px;
}

.ini6 {
    position: relative;
    left: -27px;
}